<%= form_with model: @recipe, url: user_recipes_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time, type: :number, step: "any" %>
  </div>


  <div>
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time, type: :number, step: "any" %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

    <div>
        <%= form.label :public %>
        <%= form.hidden_field :public, value: false %>
        <%= form.check_box :public %>
    </div>

  <%= form.submit 'Create Recipe' %>
<% end %>
